<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.chikkeh.expert">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"          <!-- مرجع به آیکون اصلی -->
        android:roundIcon="@mipmap/ic_launcher_round"<!-- مرجع به آیکون گرد (اختیاری) -->
        android:label="@string/app_name"             <!-- مرجع به نام برنامه -->
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.TwaApp">         <!-- استفاده از تم TWA -->

        <activity android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">

            <!-- INTENT FILTER برای فعال کردن اپ در لیست برنامه‌ها و راه‌اندازی -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- INTENT FILTER برای مدیریت URL دامنه‌ی شما (pwa.chikkeh.ir) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- تعریف دامنه‌های مورد اعتماد -->
                <data android:scheme="https"
                    android:host="pwa.chikkeh.ir" />
                <data android:scheme="http"
                    android:host="pwa.chikkeh.ir" />
            </intent-filter>

        </activity>

    </application>
</manifest>
